$primary-color: rgb(160, 1, 75);
$secondary-color: #0a5824;
$background-color: #e8f5e8;
$accent-color: rgb(25, 196, 110);
$green-color: rgb(103, 228, 176);
$h6-color: rgb(39, 42, 218);
$article-bg-color: rgb(211, 102, 102);
$article-hover-bg-color: rgb(136, 111, 168);
$color-propiedades: rgba(238, 233, 225, 0.3);

$footer-color: rgb(151, 151, 24);
$redes-color: rgb(57, 59, 187);
$footer-hover-color: rgb(136, 111, 168);

$filter-bg-color: #37755e;
$filter-text-color: aliceblue;
$grid-item-border-color: #88be96;

$button-color: green;
$button-border-color: rgb(170, 226, 169);
$button-hover-bg-color: #88be96;
$btn-color: rgb(8, 177, 93);
$btn-hover-color: #0dd876;
$input-border-color: #207c91;
$span-color: #207c91;
$carrito-title-color: rgb(57, 60, 214);

$color-general: black;
$color-dos: white;