@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

// fuentes //
$font-primary: 'Poppins', sans-serif;
$font-secondary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-form: Arial, Helvetica, sans-serif;
$font-text:'Raleway', sans-serif;

// tamaño de fuentes //
$bold-weight: bold;
$bolder-weight: bolder;
$font-general: 10px;
$font-small: 13px;
$fontsize-primary: 15px;
$fontsize-secondary: 25px;
$font-16: 16px;
$font-medium: 18px;
$font-s20: 20px;
$font-30: 30px;


$letter2-spacing: 1.2px;
$letter-spacing: 3px;

$text-center: center;
$text-size: uppercase;
$border-radius: 5px;
$border-secondary: 10px;
