/**CARRITO-LISTADECOMPRAS-INICIAR**/

.pages_titulo {
    @include propiedades;
}

.pages {
    @include flex-uno;
    padding-top: 4em;
    padding-left: 1em;
    font-family: $font-text;

    p {
        color: $color-general;
        font-size: $font-16;
        font-weight: $bold-weight;
        padding-left: 1em;
        text-align: center;
    }
}

.btn {
    @include button;

    &:hover {
        background-color: $button-hover-bg-color;
        font-weight: $bolder-weight;
    }
}

.form {
    color: $color-general;
    font-size: $font-16;
    font-family: $font-form;
    @include flex-tres;

    &:hover {
        color: $redes-color;
        font-weight: $bolder-weight;
    }
}

.crear_cuenta {
    @include flex-uno;
    padding-top: 4em;
    padding-left: 1em;
    font-family: $font-text;

    span {
        color: $span-color;
        font-size: $font-16;
        font-weight: $bold-weight;
    }

    p {
        color: $color-general;
        font-size: $font-small;
        padding-left: 1em;
        text-align: center;
    }
}

/**FIN CARRITO-LISTADECOMPRAS-INICIAR**/


/**CONTACTO**/
.contacto {
    font-size: $font-medium;
    margin-top: 2.5em;
}

.contacto__section ul {
    list-style-type: none;
    padding: 0;

    i {
        color: $redes-color;
        font-size: $fontsize-secondary;
        margin: 10px;

        &:hover {
            color: $footer-hover-color;
        }
    }

    & a {
        text-decoration: none;
        color: $span-color;
        padding: 0;
    }

    & li {
        margin: 1em 8em 1em 4em;

        & i {
            padding-right: 0.2rem;
        }
    }
}

.contacto__form {
    @include flex-contacto;
    width: 30%;
    font-size: $font-s20;
    font-weight: $bold-weight;
    margin-top: 4em;

    & input {
        border: none;
        border: 1px solid $color-general;
        border-radius: 10px;
        padding: 10px;
        margin-top: 1em;
        margin-bottom: 1em;

        &:hover {
            border: 1px solid black;
            transition: all 0.7s ease;
        }
    }

    textarea {
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-top: 1em;

        &:hover {
            border: 1px solid black;
            transition: all 0.6s ease;
        }
    }

    .contacto__form__buttom {
        background-color: $color-general;
        color: $color-dos;
        font-weight: $bold-weight;
        padding: 10px;
        width: 20%;
    }
}

/**FIN CONTACTO**/


/**VENTASXMAYOR**/
.ventas p {
    color: $color-general;
    font-size: $font-medium;
    margin-top: 2em;
    padding-left: 1em;
    text-align: center;
}

/**FIN VENTASXMAYOR**/





/* Media Queries */
@media screen and (max-width: 600px) {
    .pages_titulo {
        font-size: 18px;
        transform: none;
    }

    input {
        margin: 0.3em;
    }

    .pages {
        padding-top: 1em;
        padding-left: 0;
    }

    .btn {
        font-size: 11px;
        margin: 0.3em;
    }

    .contacto__form {
        width: 50%;
    }

    .contacto__form__buttom {
        font-size: 11px;
        margin: 0.3em;
    }

    .ventas p {
        color: $color-general;
        font-size: $font-small;
        margin-top: 2em;
        padding-left: 1em;
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    .pages_titulo {
        font-size: 20px;
        transform: none;
    }

    input {
        margin: 0.5em;
    }

    .pages {
        padding-top: 2em;
        padding-left: 0;
    }

    .btn {
        font-size: 12px;
        margin: 0.5em;
    }
    .contacto__form {
        width: 50%;
    }

    .contacto__form__buttom {
        font-size: 11px;
        margin: 1em;
    }

    .ventas p {
        color: $color-general;
        font-size: $font-primary;
        margin-top: 2em;
        padding-left: 1em;
    }
}