.logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 5em;
    margin-left: 2em;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100px;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: $color-dos;
    font-size: $font-medium;
    text-decoration: none;
    padding: 10px;

    &:hover {
        color: $green-color;
    }
}

.nav{
    color: $color-dos;
    font-size: $font-medium;
    text-decoration: none;
    padding: 2em;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    .logo {
        width: 80px;
        height: 80px;
        margin-top: -0.8em;
        margin-left: 1em;
    }

    .navbar {
        height: 80px;
    }

    .navbar-nav .nav {
        display: inline-block;
    }

    .navbar-collapse .navbar-nav {
        @include flex-tres;
        background-color: $btn-color;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        z-index: 99;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .nav-link {
        font-size: $font-small;
        padding: 8px;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 120px;
        height: 120px;
        margin-top: -0.5em;
        margin-left: -0.5em;
    }

    .navbar {
        height: 80px;
    }

    .navbar-nav {
        justify-content: center;
        ;
    }

    .nav-item {
        margin-left: 10px;
    }

    .nav-link {
        font-size: $font-16;
        padding: 8px;
    }

    .navbar-collapse .navbar-nav{
        @include flex-tres;
        background-color: $btn-color;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        z-index: 99;
    }
}


@media (min-width: 1025px) {

    /* Ajustar estilos para pantallas grandes */
    .logo {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin-top: 5em;
        margin-left: 2em;
    }

    .navbar {
        height: 100px;
    }

    .navbar-nav {
        justify-content: flex-end;
    }

    .nav-link {
        font-size: 20px;
        padding: 15px;
    }
}